wikihowtools
data
results
.ipynb_checkpoints/
__pycache__/
supersenses 
target
scripts_from_server 
classification-scripts/classification-data 
get-context/dev-files-example
classification-scripts/different-noun-modifications
classification-scripts/same-noun-modifications
get-context/dev_files_same_noun.txt
get-context/test_files_same_noun.txt
get-context/train_file_same_noun.txt
classification-scripts/noun-modifications
all-wikihow/wikihow-dev.json
all-wikihow/wikihow-test.json
all-wikihow/wikihow-train.json
venv
