wikihowtools
data
results
.ipynb_checkpoints/
__pycache__/
supersenses 
target
scripts_from_server 
classification-scripts/classification-data 
get-context/dev-files-example
classification-scripts/different-noun-modifications
classification-scripts/same-noun-modifications
get-context/dev_files_same_noun.txt
get-context/test_files_same_noun.txt
get-context/train_file_same_noun.txt
classification-scripts/noun-modifications
all-wikihow/wikihow-dev.json
all-wikihow/wikihow-test.json
all-wikihow/wikihow-train.json
all-wikihow/meta/dev_files.txt
all-wikihow/meta/test_files.txt
all-wikihow/meta/train_files.txt
all-wikihow/wikihow_v6_with_numbers_lines.json
 all-wikihow/splits/
classification-scripts/Check data.ipynb
classification-scripts/Untitled.ipynb
classification-scripts/dev_dict.pickle
classification-scripts/test.json
classification-scripts/test_dict.pickle
classification-scripts/train_dict.pickle
get-context/list_of_filenames/dev_files_kopie.txt
get-context/list_of_filenames/test_files_kopie.txt
get-context/output.txt
pytorch-models/dev_set_pytorch.json
pytorch-models/test_set_pytorch.json
pytorch-models/train_set_pytorch.json
results